<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:Tenant" value="danpatr10.onmicrosoft.com" />
    <add key="ida:ClientId" value="40bc412a-e9cc-47ad-bd7c-07689123c5ed" />
    <add key="ida:CertName" value="CN=Console2" />
  </appSettings>
</configuration>